<div ng-controller="AuthorCreateCtrl">
	<h3>作者新建</h3>
	<form name="authorCreateForm">
		<p>
			<label for="first">名字: </label>
			<input type="text" id="first" ng-model="author.first" ng-form="authorCreateForm" required/>
		</p>
		<p>
			<label for="last">姓氏: </label>
			<input type="text" id="last" ng-model="author.last" ng-form=="authorCreateForm" required/>
		</p>
		<p class="form-group">
			<label>性别: </label>
			<label class="radio-inline left-margin-20"><input type="radio" name="gender" ng-model="author.gender" ng-form="authorCreateForm" value="0" checked="checked" />男</label>
			<label class="radio-inline"><input type="radio" name="gender" ng-model="author.gender" ng-form="authorCreateForm" value="1" />女</label>
		</p>
			
		<button class="btn btn-primary" ng-click="submit(1, author)">创建</button>
	</form>
</div>
