<div ng-controller="AuthorListCtrl">
	<div id="authors">
		<h3>作者</h3>
		<a class="btn btn-link" href="./#/authors/create">新建</a>
		<table class="table-hover table-bordered">
			<tr>
			<th>编号</th>
			<th>姓名</th>
			<th>性别</th>
			</tr>
			<tr ng-repeat="author in authors">
				<td>{{author.id}}</td>
				<td>{{author.formatted_name}}</td>
				<td>{{author.gender | gender}}</td>
			</tr>
		</table>
	</div>
</div>