html, body, h1, p, table, ul, li, a, label {
	padding: 0px;
	margin: 0px;
}

li{
	list-style: none;
}

table {
	width: 80%;
	margin: 15px 0px;
}

tr, th {
	height: 30px;
	text-align: center;
}

input {
	height: 30px;
	padding: 1px 1px;
	margin: 0px 20px 0px 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
}

#header h1 {
	background-color: green;
	height: 50px;
	line-height: 50px;
}

#left-slider {
	float: left;
	width:200px;
	height: 400px;
}

#left-slider li a{
	display: block;
	height: 40px;
	padding: 5px 5px;
	line-height: 30px;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	color: #000;
}

#left-slider li a:hover{
	background-color: #eee;
}

#right-content {
	margin: 0px 0px 0px 210px;
}

p {
	margin-bottom: 10px;
}

label {
	height: 30px;
	line-height: 30px;
}

.left-margin-10 {
	margin-left: 20px;
}

#author {
	height: 30px;
	padding: 1px 1px;
	margin: 0px 20px 0px 10px;
	border-radius: 5px;
	border: 1px solid #ddd;
}
#content {
	width: 80%
}
