<div ng-controller="QuoteCreateCtrl">
	<h3>帖子新建</h3>
	<form name="quoteCreateForm">
		<!-- <p>
			<label for="posted">时间</label>
			<input type="text" id="posted" ng-model="quote.posted" ng-form="quoteCreateForm" required/>
		</p> -->
		<p>
			<label for="author">作者</label>
			<select id="author" ng-model="author" ng-form="quoteCreateForm" ng-options="author.formatted_name for author in authors" required>
				<option value="">-- 选择作者 --</option>
			</select>
		</p>
		<p class="form-group">
			<label for="content">内容</label>
			<textarea id="content" class="form-control" rows="5" ng-form="quoteCreateForm" ng-model="quote.content" required></textarea>
		</p>
		<button class="btn btn-primary" ng-click="submit(1, quote)">创建</button>
	</form>
</div>