<div ng-controller="QuoteListCtrl">
	<div id="quotes" class="center">
		<h3>帖子</h3>
		<span>开始日期</span><input type="date" ng-model="start_date" placeholder="yyyy-MM-dd" required />
		<span>结束日期</span><input type="date" ng-model="end_date" placeholder="yyyy-MM-dd" required />
		<button class="btn btn-primary" ng-click="query_by_date()">查询</button>
		<table class="table-hover table-bordered">
			<tr>
			<th>选择</th>
			<th>日期</th>
			<th>作者</th>
			<th>内容</th>
			</tr>
			<tr ng-repeat="quote in quotes">
				<td><input type="checkbox" ng-model="quote.selected" ng-click="check(quote.id)"/></td>				
				<td>{{quote.posted_at | date: "yyyy-MM-dd"}}</td>
				<td>{{quote.author.formatted_name}}</td>
				<td>{{quote.content}}</td>
			</tr>
		</table>
		<a class="btn btn-link" href="./#/quotes/create">新建</a>
		<button class="btn btn-primary" ng-click="remove()">删除</button>
	</div>
</div>